.itemData {
    background-color: color-mix(in oklch, oklch(from #fcfcfc calc(l - 0.7) c h) 10%, #fcfcfc);
    border-radius: 6px;
    padding: 10px 30px;
    margin-bottom: 16px;
    font-weight: var(--text-weight-bold);
}