@import '@folio/stripes-components/lib/variables';

.actionIcon {
  margin-right: 10px;
}

.authorityIcon {
  margin-right: 5px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.sharedIcon {
  justify-content: start;
  color: rgb(100, 100, 100);
  stroke: rgb(100, 100, 100);
}

.sharedIconLight {
  color: rgb(255, 255, 255);
  stroke: rgb(255, 255, 255);
}

.boundWithIcon {
  background-color: transparent !important;
  margin-left: var(--gutter-static-one-third);
}

.cellAlign {
  align-items: flex-start;
}

.feedbackError {
  margin-left: 26px;
  font-weight: var(--text-weight-bold);
  color: var(--error);
}
