@import '@folio/stripes-components/lib/variables';

.actionIcon {
  margin-right: 10px;
}

.authorityIcon {
  margin-right: 5px;
}

.boundWithIcon {
  background-color: transparent !important;
  margin-left: var(--gutter-static-one-third);
}

.cellAlign {
  align-items: flex-start;
}

.feedbackError {
  margin-left: 26px;
  font-weight: var(--text-weight-bold);
  color: var(--error);
}

/* A version of these rules are present in TextLink.css, but overridden by MCL.css */
.inventoryInstances div[class*="Selected"] a:visited {
  color: var(--link-color-visited-current);
  text-decoration-color: var(--link-color-visited-current);
}
