@import '@folio/stripes-components/lib/variables';

.actionIcon {
  margin-right: 10px;
}

.authorityIcon {
  margin-right: 5px;
}

.boundWithIcon {
  background-color: transparent !important;
  margin-left: var(--gutter-static-one-third);
}

.cellAlign {
  align-items: flex-start;
}

.feedbackError {
  margin-left: 26px;
  font-weight: var(--text-weight-bold);
  color: var(--error);
}

/* ↓↓↓ TODO: remove when Browse refactor is completed ↓↓↓ */
.missingMatchError {
  margin-left: var(--gutter-static-one-third);
  margin-right: var(--gutter-static-one-third);
  font-weight: var(--text-weight-bold);
  color: var(--error);
}

.missedMatchItemWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: var(--gutter-static-one-third);
}

.fitContent {
  min-width: fit-content;
}

/* ↑↑↑ */
