.missingMatchError {
  margin-left: var(--gutter-static-one-third);
  margin-right: var(--gutter-static-one-third);
  font-weight: var(--text-weight-bold);
  color: var(--error);
}

.missedMatchItemWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: var(--gutter-static-one-third);
}

.fitContent {
  min-width: fit-content;
}
