{
  "parser": "@babel/eslint-parser",
  "extends": "@folio/eslint-config-stripes",
  "plugins": [
    "filenames",
    "jest"
  ],
  "overrides": [
    {
      "files": ["*test.js", "test/**"],
      "rules": {
        "react/prop-types": "off",
        "import/prefer-default-export": "off"
      }
    },
    {
      "files": [ "src/**"],
      "rules": {
        "react-hooks/exhaustive-deps": "off"
      }
    }
  ],
  "env": {
    "jest/globals": true
  }
}
