.rowMarginBottom {
  margin-bottom: 0.5em;
}

.multiTitle {
  color: red;
}

.warnIcon {
  margin-left: var(--gutter-static-one-third);
}

.boundWithIcon {
  background-color: transparent !important;
  margin-left: var(--gutter-static-one-third);
}