.rowMarginBottom {
  margin-bottom: 0.5em;
}

.multiTitle {
  color: red;
}

.warnIcon {
  margin-left: var(--gutter-static-one-third);
}

.boundWithIcon {
  background-color: transparent !important;
  margin-left: var(--gutter-static-one-third);
}

/* Reset default behaviour for item hotlink */
.linkWithoutBorder {
  &:hover,
  &:focus {
    outline-style: none !important;
  }
}

.linkWithoutBorder:hover::before {
  background: transparent;
}

.linkWithoutBorder:focus::before {
  border: none;
  background: transparent;
  box-shadow: none;
}
